
* {
	--max-screen-size: 576;
}

body {
	position: unset;
}

.header1 {
	position: relative;
	margin-right: 1px;
}

.header1 .row-top1 {
	margin-left: 4px;
	gap: 12px;
}

.header1 .row-top1 .row-graphic1 {
	width: 20px; height: 19px;
}

.header1 .row-top1 .row-subtitle1 {
	margin-right: -3px; margin-top: -2px; margin-bottom: -3px;
}

.header1 .row-bottom2 {
	gap: 11px;
}

.header1 .row-bottom2 .row-graphic1 {
	width: 27px; height: 16px;
}

.header1 .row-bottom2 .row-subtitle1 {
	margin-right: -2px; margin-top: -4px; margin-bottom: -1px;
}

.row1 {
	margin: 22px auto 0 49px;
	width: 90%;
	max-width: 406px;
	display: flex;
	align-items: flex-start;
	gap: 19px;
	align-self: start;
	color: #14ae5c;
	font-size: 24px;
	font-weight: 700;
}

.row2 .btn-left-label {
	margin-left: 3px;
}

.row2 .btn-icon2 {
	width: 13px;
}

.row2 .btn-light5 {
	gap: 13px;
	flex-shrink: unset;
	padding-left: 23px;
	padding-right: 18px;
}

.row2 .btn-light5 .btn-light-label3 {
	margin-left: 3px;
}

.row2 .btn-light5 .btn-light-icon3 {
	width: 13px;
}

.row2 .btn-light-right {
	gap: 10px;
	flex-shrink: unset;
	padding-left: 18px;
	padding-right: 18px;
}

.row2 .btn-light-right .btn-light-icon3 {
	width: 13px;
}

.row3 .btn-light6 {
	width: 197px;
	gap: 15px;
	padding-left: 9px;
	padding-right: 9px;
}

.row3 .btn-light6 .btn-light-label3 {
	margin-left: 6px;
}

.row3 .btn-light6 .btn-light-icon3 {
	width: 14px;
}

.row3 .btn-light7 {
	width: 139px;
	gap: 15px;
	padding-left: 8px;
	padding-right: 8px;
}

.row3 .btn-light7 .btn-light-label3 {
	margin-left: 1px;
}

.row3 .btn-light7 .btn-light-icon3 {
	width: 14px;
}

.row3 .btn-light8 {
	width: 144px;
	gap: 17px;
	padding-left: 8px;
	padding-right: 8px;
}

.row3 .btn-light8 .btn-light-label3 {
	margin-left: 4px;
}

.row3 .btn-light8 .btn-light-icon3 {
	width: 14px;
}

.row4 {
	margin: 32px auto 0 auto;
	width: 90%;
	max-width: 481px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	align-self: center;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	background-color: #95cc44;
	padding: 14px 29px 10px 21px;
}

.home2 {
	margin-top: 1px;
	width: 28px; height: 23px;
	flex-shrink: 0;
}

.subtitle-gioi-thieu1 {
	text-align: left;
}

.subtitle-gioi-thieu2 {
	margin: 24px auto 0 auto;
	width: 90%;
	max-width: 481px;
	align-self: center;
	color: #009950;
	--min-font-size: 23; --max-font-size: 24; font-size: var(--interpolate);
	font-weight: 700;
	line-height: 1.333;
	text-align: left;
}

.text-thu-hai {
	margin: 8px auto 0 auto;
	width: 90%;
	max-width: 478px;
	align-self: center;
	text-align: left;
}

.banner-gioi-thieu {
	margin: 18px auto 0 auto;
	width: 90%;
	max-width: 479px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0;
	align-self: center;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	padding-top: 12px;
	padding-bottom: 98px;
}

.banner-gioi-thieu-clip-path {
	margin-left: -3px;
	width: 32px;
	flex-shrink: 0;
}

.banner-gioi-thieu-text-congty-cophan {
	margin-left: -29px;
	width: 70px;
	text-align: left;
}

.banner-gioi-thieu-text-bottom {
	margin-top: 6px;
	align-self: stretch;
	text-align: center;
}

.title-cong-ty-co-phan {
	margin: 40px 15px 0 15px;
	text-align: center;
}

.col2 {
	margin-top: 39px;
	gap: 38px;
	text-align: justify;
	padding-top: 51px;
	padding-bottom: 43px;
}

.subtitle-cong-ty-co-phan2 {
	margin-left: 3px;
	width: 100%;
	max-width: 481px;
	line-height: 1.3;
}

.btn-xem-them1 {
	padding-top: 12px;
	padding-bottom: 9px;
}

.col3 {
	position: relative; z-index: 1;
	margin-top: 39px;
	gap: 15px;
	text-align: justify;
	padding-top: 38px;
	padding-bottom: 86px;
}

.subtitle5 {
	margin-left: 16px;
	width: 100%;
	max-width: 492px;
	line-height: 1.3;
}

.symbol1 {
	margin-left: 16px; margin-top: 11px;
	width: 100%;
	max-width: 492px;
}

.title-1-lich-su-hinh {
	margin-top: 28px;
	width: 100%;
	max-width: 476px;
	color: #14ae5c;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
}

.subtitle6 {
	margin-left: 16px;
	width: 100%;
	max-width: 492px;
	line-height: 1.3;
}

.btn-xem-them2 {
	margin-top: 20px;
	padding-top: 12px;
	padding-bottom: 9px;
}

.col4 {
	margin-left: 2px;
}

.col4 .column-subtitle {
	line-height: 1.6;
}



/* container queries (flex rows) */

@container body (width < 454px) {
	.row1 {
		margin-left: 0; margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.row2 {
		margin-left: 0; margin-right: 0;
	}
	.row3 {
		margin-left: 0; margin-right: 0;
	}
	.row4 {
		margin-left: 0; margin-right: 0;
	}
	.subtitle-gioi-thieu2 {
		margin-left: 0; margin-right: 0;
	}
	.banner-gioi-thieu {
		margin-left: 0; margin-right: 0;
	}
	.title-cong-ty-co-phan {
		margin-left: 0; margin-right: 0;
	}
	.col4 {
		margin-left: 0; margin-right: 0;
	}
	.row1 > * {
		margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row1 > .subtitle-cong-ty-co-phan1 {
		width: 100%;
	}
}
