body {
	position: unset;
	align-items: center;
	gap: 4px;
}

.header1 {
	align-self: stretch;
}

.header1 .header-graphic-left1 {
	margin-top: 2px;
	width: 20px; height: 19px;
}

.header1 .header-graphic1 {
	margin-left: 25px; margin-top: 4px;
	width: 27px; height: 16px;
}

.header1 .header-text-right1 {
	margin-left: 2px;
}

.row1 {
	margin: 17px auto 0 auto;
	width: 90%;
	max-width: 1370px;
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	font-size: 15px;
	font-weight: 500;
}

.logo1 {
	width: 50px; height: 66px;
}

.btn-white3 {
	margin-left: 47px;
	gap: 11px;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 11px;
}

.btn-white3 .btn-light-label1 {
	margin-left: 2px;
}

.btn3 {
	padding-left: 17px;
}

.btn3 .btn-label {
	margin-left: 2px;
}

.btn-light9 {
	padding-left: 11px;
	padding-right: 13px;
}

.btn-light9 .btn-light-label1 {
	margin-left: -1px;
}

.btn-light10 {
	padding-left: 12px;
	padding-right: 13px;
}

.btn-light10 .btn-light-label1 {
	margin-left: -1px;
}

.btn-light11 {
	padding-left: 12px;
	padding-right: 14px;
}

.btn-light11 .btn-light-label1 {
	margin-left: -1px;
}

.btn-light12 {
	padding-left: 11px;
	padding-right: 18px;
}

.btn-light12 .btn-light-label1 {
	margin-left: -4px;
}

.timkiem {
	margin: 32px 7px 0 auto;
	width: 18px; height: 18px;
}

.text8 {
	margin-right: -2px; margin-top: 32px;
	color: #13ae5b;
}

.row2 {
	position: relative;
	margin: 26px auto 0 auto;
	width: 90%;
	max-width: 1380px;
	color: #fff;
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-weight: 700;
}

.rect1 {
	position: absolute; top: 19px; left: 0; right: 0; 
	rotate: 180deg;
	transform-origin: 50% 50%;
	height: 20px;
	background-color: #009950;
}

.row3 {
	position: relative; z-index: 1;
	display: flex;
	align-items: flex-start;
	gap: 17px;
	background-color: #95cc44;
	padding: 8px 554px 7px 21px;
}

.text-gioi-thieu1 {
	margin: 17px auto 0 auto;
	width: 90%;
	max-width: 1380px;
	color: #009950;
	text-align: left;
}

.text-thu-hai {
	margin: 0 auto;
	width: 90%;
	max-width: 1380px;
	text-align: left;
}

.row4 {
	position: relative;
	margin: 8px auto 0 auto;
	width: 90%;
	max-width: 1375px;
	min-height: 496px;
	flex-shrink: 0;
	color: #fff;
	text-align: center;
}

.banner-gioi-thieu {
	position: absolute; top: 0; left: 0; right: 0; 
	--min-font-size: 16; --max-font-size: 20; font-size: var(--interpolate);
	font-weight: 700;
	padding: 152px 501px 297px 500px;
}

.banner-gioi-thieu-clip-path {
	position: absolute; top: 63px; left: 50%; 
	translate: -50% 0;
	width: 91px;
}

.banner-gioi-thieu-text {
	position: relative; z-index: 1;
}

.btn-xem-them1 {
	position: absolute; top: 412px; left: 50%; 
	width: 180px;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #02542d;
	padding: 11px 8px 8px 8px;
	border: 1px solid #fff;
	border-radius: 30px;
}

.subtitle-cong-ty-co-phan1 {
	margin: 46px 24px 0 24px;
	align-self: stretch;
	text-align: center;
}

.col2 {
	margin: 37px auto 0 auto;
	width: 90%;
	max-width: 1380px;
	display: flex;
	flex-direction: column;
	gap: 31px;
	text-align: justify;
	background-color: #e7f1d4;
	padding: 54px 66px 31px 67px;
}

.btn-xem-them2 {
	margin-left: -1px;
	align-self: center;
	padding-top: 11px;
	padding-bottom: 8px;
	border: 1px solid #fff;
}

.row5 {
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
	gap: 14px;
}

.card4 {
	width: 902px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	color: #303030;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
	text-align: justify;
	background-color: #e7f1d4;
	padding: 35px 42px 45px 67px;
}

.card-text-b {
	margin-right: 25px;
	color: #14ae5c;
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	text-align: left;
}

.card-text5 {
	margin-top: 18px;
}

.card-text6 {
	margin-top: 16px;
}

.card-text7 {
	margin-top: 26px;
}

.card-text-2-dinh-huong {
	margin-top: 29px;
}

.card-text8 {
	margin-top: 27px;
}

.card-text10 {
	margin-top: 27px;
}

.col-right {
	width: 464px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex-shrink: 0;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.group-top {
	background: url(../assets/gioi-thieu/group1.png) top left / cover no-repeat;
	padding-top: 522px;
	padding-bottom: 1px;
}

.btn-xem-them3 {
	margin-left: auto;
	color: unset;
	font-size: unset;
	font-style: normal;
	font-weight: unset;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	border: 1px solid #fff;
}

.group1 {
	background: url(../assets/gioi-thieu/group2.png) center / cover no-repeat;
	padding-top: 480px;
}

.btn-xem-them4 {
	margin-left: auto;
	color: unset;
	font-size: unset;
	font-style: normal;
	font-weight: unset;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	border: 1px solid #fff;
}

.group-bottom {
	background: url(../assets/gioi-thieu/group3.png) top left / cover no-repeat;
	padding-top: 604px;
}

.btn-xem-them5 {
	margin-left: auto;
	color: unset;
	font-size: unset;
	font-style: normal;
	font-weight: unset;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 8px;
	border: 1px solid #fff;
}

.footer1 {
	margin-top: 132px;
	align-self: stretch;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.row3 {
		padding-inline: var(--margin-sm);
	}
	.banner-gioi-thieu {
		padding-inline: 0;
	}
	.subtitle-cong-ty-co-phan1 {
		margin-inline: var(--margin-sm);
	}
	.col2 {
		padding-inline: var(--margin-md);
	}
	.card4 {
		padding-inline: var(--margin-md);
	}
	.card-text-b {
		margin-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.col2 {
		padding-inline: var(--margin-sm);
	}
	.card4 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container body (width < 1286px) {
	.row1 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
	.row1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row1 > .text-cong-ty-co-phan1 {
		width: 100%;
	}
}

@container body (width < 1379px) {
	.row5 {
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}
	.row5 > .card4 {
		width: 100%;
		max-width: 902px;
	}
	.row5 > .card4 > * {
		text-align: unset;
	}
	.row5 > .col-right {
		width: 100%;
		max-width: 464px;
	}
}
