body {
	gap: 4px;
}



/* circle-white-f */

.circle-white-f {
	position: absolute; left: 521px; 
	width: 109px; height: 109px;
	background-color: #fff;
	border: 2px solid #95cc44;
	border-radius: 50%;
}

.circle-white-group4 {
	position: absolute; top: 29px; left: 50%; 
	translate: -50% 0;
}
/* end circle-white-f*/


.rect1 {
	top: 181px; left: 370px; 
	rotate: 180deg;
	width: calc(100% - 370px);
	max-width: 1280px;
}

.circle-white1 {
	position: absolute; z-index: 4; top: 443px; left: 521px; 
	width: 109px; height: 109px;
	background-color: #fff;
	border: 2px solid #95cc44;
	border-radius: 50%;
}

.group1 {
	position: absolute; top: 25px; left: 50%; 
	translate: -50% 0;
	width: 66px; height: 55px;
}

.circle-white2 {
	z-index: 5; top: 578px; 
}

.circle-white2 .circle-white-group4 {
	width: 75px; height: 44px;
}

.circle-white3 {
	z-index: 4; top: 712px; 
}

.circle-white3 .circle-white-group4 {
	margin-left: -2px;
	width: 65px; height: 52px;
}

.header1 .header-graphic-left2 {
	margin-top: 2px;
	width: 20px; height: 19px;
}

.header1 .header-graphic2 {
	margin-left: 25px; margin-top: 4px;
	width: 27px; height: 16px;
}

.header1 .header-text-right2 {
	margin-left: 2px;
}

.row1 .row-logo1 {
	width: 50px; height: 66px;
}

.row1 .btn-white1 {
	margin-left: 47px;
	gap: 11px;
	background-color: #fff;
	padding-left: 15px;
	padding-right: 11px;
}

.row1 .btn-white1 .btn-light-label1 {
	margin-left: 2px;
}

.row1 .btn1 {
	padding-left: 17px;
}

.row1 .btn1 .btn-label {
	margin-left: 2px;
}

.row1 .btn-light1 {
	padding-left: 11px;
	padding-right: 13px;
}

.row1 .btn-light1 .btn-light-label1 {
	margin-left: -1px;
}

.row1 .btn-light2 {
	padding-left: 12px;
	padding-right: 13px;
}

.row1 .btn-light2 .btn-light-label1 {
	margin-left: -1px;
}

.row1 .btn-light3 {
	padding-left: 12px;
	padding-right: 14px;
}

.row1 .btn-light3 .btn-light-label1 {
	margin-left: -1px;
}

.row1 .btn-light4 {
	padding-left: 11px;
	padding-right: 18px;
}

.row1 .btn-light4 .btn-light-label1 {
	margin-left: -4px;
}

.row1 .row-timkiem {
	margin: 32px 7px 0 auto;
	width: 18px; height: 18px;
}

.row1 .row-text-vi {
	margin-right: -2px; margin-top: 32px;
	color: #13ae5b;
}

.row2 {
	z-index: 4;
	padding-right: 459px;
}

.text-he-sinh-thai1 {
	margin: 17px auto 0 auto;
	width: 90%;
	max-width: 1380px;
	align-self: center;
	color: #009950;
}

.text-thu-hai {
	margin: 0 auto;
	width: 90%;
	max-width: 1380px;
	align-self: center;
}

.col2 {
	container: col2 / inline-size;
	margin: 17px auto 0 auto;
	width: 90%;
	max-width: 1380px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-self: center;
	font-size: 15px;
	background-color: #e7f1d4;
	padding: 23px 128px 20px 128px;
}

.row-top3 {
	margin-left: 1px;
	display: flex;
	align-items: flex-start;
	gap: 147px;
	align-self: start;
	color: #14ae5c;
	font-weight: 700;
}

.text-tim-kiem1 {
	margin: -2px 0 -4px -1px;
}

.text-tim-kiem2 {
	margin-top: -2px; margin-bottom: -4px;
}

.text-tim-kiem3 {
	margin-top: -2px; margin-bottom: -4px;
}

.text-tim-kiem4 {
	margin-top: -2px; margin-bottom: -4px;
}

.text-tim-kiem5 {
	margin: -2px -1px -4px 0;
}

.row-bottom3 {
	margin-right: 5px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 21px;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 500;
}

.btn-c {
	width: 193px;
	min-height: 35px;
	display: flex;
	flex-shrink: 0;
	font-style: normal;
	letter-spacing: 0px;
	text-align: left;
	background-color: #fff;
	padding: 9px 21px 8px 21px;
	border-radius: 17.5px;
}

.input-right {
	width: 263px;
	min-height: 35px;
	flex-shrink: 0;
	text-align: left;
	padding: 9px 21px 8px 21px;
	border-radius: 17.5px;
}

.row3 {
	margin-left: -36px; margin-top: 17px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
	align-self: center;
}

.mask-group {
	width: 322px;
	flex-shrink: 0;
}

.col3 {
	margin-top: 57px;
	width: 355px;
	display: flex;
	flex-direction: column;
	gap: 62px;
	flex-shrink: 0;
	font-size: 20px;
	font-weight: 700;
}

.btn-sach-d {
	margin: 0 -2px;
	display: flex;
	justify-content: center;
	font-style: normal;
	letter-spacing: 0px;
	text-align: center;
	padding: 21px 9px 23px 9px;
	border: 2px dashed #fff;
	border-radius: 21px;
}

.btn4 {
	margin-top: -2px;
	justify-content: unset;
	color: #fff;
	text-align: left;
	background-color: #007234;
	padding-left: 78px;
	padding-right: 78px;
}

.btn-sach-tham-khao2 {
	color: #007234;
	background-color: #ffeb3d;
}

.btn-hoc-lieu-giao {
	margin-top: 1px; margin-bottom: -2px;
	color: #f5f5f5;
	background-color: #00b8f2;
}

.row-right {
	position: relative;
	margin-left: 145px; margin-top: 43px;
	width: 508px;
	min-height: 351px;
	flex-shrink: 0;
	text-align: justify;
}

.group2 {
	position: absolute; top: 0; left: 0; 
	width: calc(100% - 32px);
	max-width: 508px;
	color: #303030;
	font-size: 20px;
	font-weight: 400;
	padding: 75px 51px 37px 70px;
}

.rect-d {
	position: absolute;
	border: 2px dashed #95cc44;
	border-radius: 20px;
}

.rect2 {
	top: 0; left: 0; right: 0; 
	height: 328px;
}

.rect3 {
	z-index: 1; top: 24px; left: 17px; right: -15px; 
	rotate: -3deg;
	height: 333px;
}

.rect4 {
	position: absolute; z-index: 2; top: 39px; left: 33px; right: 16px; 
	height: 337px;
	background: linear-gradient(180deg, #ebe667 0%, #d4ebc0 100%) top left / auto auto no-repeat;
	border: 2px dashed #95cc44;
	border-radius: 20px;
}

.text-he-sinh-thai2 {
	position: relative; z-index: 3;
}

.btn-kham-pha-cac1 {
	position: absolute; top: 312px; left: 133px; 
	width: 250px;
	display: flex;
	justify-content: center;
	color: #fff;
	text-align: center;
	background-color: #f29928;
	padding: 13px 10px 8px 10px;
	border-radius: 27.5px;
}

.footer1 {
	margin-top: 63px;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.col2 {
		padding-inline: var(--margin-md);
	}
	.btn-sach-d {
		margin-inline: 0;
	}
	.btn4 {
		padding-inline: var(--margin-md);
	}
	.row-right {
		margin-inline: 0;
	}
	.group2 {
		padding-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.col2 {
		padding-inline: var(--margin-sm);
	}
	.btn4 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container col2 (width < 920px) {
	.row-top3 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.col2 > * {
		margin-left: 0; margin-right: 0;
	}
	.row-top3 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
		text-align: center;
	}
}

@container col2 (width < 1123px) {
	.row-bottom3 {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.row-bottom3 > * {
		text-align: center;
	}
}

@container body (width < 1417px) {
	.row3 {
		flex-direction: column;
		align-items: center;
		gap: 51px;
	}
	.row3 > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row3 > .col3 {
		width: 100%;
		max-width: 355px;
	}
	.row3 > .col3 > * {
		text-align: unset;
	}
	.row3 > .row-right {
		width: 100%;
		max-width: 508px;
	}
}
